.cell {
  width: 32px;
  height: 32px;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: blue;
  }
}

.cellFilled {
  background-color: rgb(19, 14, 62);
}

.cellWounded {
  background-color: rgb(229, 147, 232);
}
.seeKilled {
  background-color: rgb(196, 11, 33);
}
.cellChecked {
  background-color: rgb(152, 152, 156);
}
