.fieldWrapper {
  position: relative;
  width: 100%;
  padding: 16px 8px;
  border-radius: 8px;
  background-color: #d7d7d7;

  .saveWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
    background-color: rgba(0, 0, 0, 0.7);

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 44px;
  }
}
