* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.btn {
  display: block;
  margin: 0 auto;
  padding: 8px 32px;
  border-radius: 8px;
  border: none;
  background-color: rgb(51, 51, 105);
  color: white;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;

  &:hover {
    background-color: rgb(95, 95, 186);
    box-shadow: 0 0 2px 1px rgb(2, 2, 57);
  }
}

@media screen and (min-width: 1024px) {
  .battleZone {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.loader {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  align-content: center;

  span {
    margin: 0 auto;
  }
}
